
*.pyc
.ipynb_checkpoints/*
doc/.ipynb_checkpoints/*
*.mat
*.pic
*.gz
*.npz
*.root
*.log
*.pdf
*.eps
*.pdf
*.tex
*.C
*.bak
*.out
cmt/boost_test.cxx.o
MoreFilesForYou-*
.asetup.save
build
.python-version
maestror-env
maestro-env
novacula-env
.novacula-env
.venv
# vscode
./.vscode/*
.pytest_cache


